---
---

@import "{{ site.theme }}";



.wrapper {
 width:920px;
 margin:0 auto
}

header {
 width:250px;
 float:left;
 position:fixed;
 -webkit-font-smoothing:subpixel-antialiased
}

section {
 width:700px;
 float:right;
 padding-bottom:50px
}
