---
---

@import "{{ site.theme }}";



.wrapper {
 width:920px;
margin-top: 0px;
margin-right: 20px;
margin-bottom: 0px;
margin-left: 20px;
}

header {
 width:250px;
 float:left;
 position:fixed;
 -webkit-font-smoothing:subpixel-antialiased
}

section {
 width:700px;
 float:right;
 padding-bottom:50px
}
